.btn {
  background-color: #877EED;
  border-radius: 24px;
  border: none;
  color: white;
  padding: 16px;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  cursor: pointer;
}

.btn:hover {
  background-color: #544ACB;
}