.text-input {
  max-width: 100%;
  width: 360px;

  font-size: 16px;
  line-height: 150%;
  color: #999999;
  border-radius: 24px;
  border: 1px solid #EAEAEA;
  padding: 12px 16px;
  text-align: center;
  background-color: transparent;
}

.text-input::placeholder {
  color: #EAEAEA;
}