::backdrop {
  background-image: #504D4D;
  opacity: 0.75;
}

.dialog {
  background-color: #1E1E1E;
  border: none;
  border-radius: 16px;
  padding: 16px;
}

.close-btn-wrapper {
  text-align: right;
}

.btn-close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;

}

.dialog .body {
  padding: 10px;
}